.navAction {
  display: flex;
  justify-content: space-between;
  padding: 10px 70px 5px 50px;
  background-color: #f0f0f0;
}
.jordanLogo img {
  height: 20px;
  width: 20px;
}
.nav ul {
  padding: 0px;
  margin: 0px;
  display: flex;
  gap: 10px;
}
.nav li {
  cursor: pointer;
  list-style-type: none;
  font-family: sans-serif;
  font-size: 13px;
}
